<h2>New Pool</h2>

<p style="font-weight: bold;">Before creating a pool, read the <%= link_to("pool guidelines", help_page_path(id: "pools")) %>.</p>

<%= custom_form_for(@pool) do |f| %>
  <%= f.input(:name, as: :string, required: true) %>
  <%= f.input(:description, as: :dtext, limit: Config.instance.pool_description_max_size, allow_color: false) %>
  <%= f.input(:post_ids_string, as: :text, label: "Posts") %>
  <%= f.input(:is_ongoing) %>
  <%= f.input(:category, collection: [%w[Series/Comic series], %w[Collection collection]], include_blank: true, selected: "", required: true) %>
  <%= f.button(:submit, "Submit") %>
<% end %>

<%= render("secondary_links") %>

<% content_for(:page_title) do %>
  New Pool
<% end %>
