<h1>Most Viewed Posts Of All Time</h1>
<p id="total">
  Total Views: <%= ActiveSupport::NumberHelper.number_to_delimited(@stats["viewCount"]) %>
</p>

<%= render "posts/partials/common/inline_blacklist" %>

<p id="popular-nav-links">
  <span class="period">
    <%= link_to("Per Day", views_popular_index_path) %>
  </span>
</p>

<div id="posts" class="user-disable-cropped-<%= FemboyFans.config.enable_image_cropping? && CurrentUser.user.disable_cropped_thumbnails? %>">
  <div id="posts-container">
    <%= @post_set.presenter.post_previews_html(self, show_cropped: true, views: :total, views_list: @ranking, unique_views: false) %>
  </div>
</div>


<%= render partial: "popular/secondary_links" %>
<% content_for(:secondary_links) { "|" } %>
<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Most Viewed Posts Of All Time
<% end %>

<% content_for(:html_header) do %>
  <meta name="description" content="The most viewed posts of all time">
<% end %>
