<h1>Top Missed Searches Of All Time</h1>
<p id="total">
  Total Missed Searches: <%= ActiveSupport::NumberHelper.number_to_delimited(@stats["missedSearchCount"]) %>
</p>

<p id="popular-nav-links">
  <span class="period">
    <%= link_to("Per Day", missed_searches_popular_index_path) %>
  </span>
</p>

<%= table_for(@ranking, class: "striped autofit") do |t| %>
  <% t.column("Count") do |rank| %>
    <%= rank["count"] %>
  <% end %>
  <% t.column("Tag") do |rank| %>
    <%= rank["tag"] %>
  <% end %>
<% end %>

<%= render(partial: "popular/secondary_links") %>

<% content_for(:page_title) do %>
  Top Missed Searches Of All Time
<% end %>

<% content_for(:html_header) do %>
  <meta name="description" content="The most commonly missed search tags">
<% end %>
