<h1>Post Replacement Media Assets</h1>

<%= render(partial: "search") %>

<%= table_for(@assets) do |t| %>
  <% t.column("Creator") do |asset| %>
    <%= link_to_user(asset.creator) %>
    <% if policy(asset).can_see_ip_addr? %>
      (<%= link_to_ip(asset.creator_ip_addr) %>)
    <% end %>
    <p><%= compact_time(asset.created_at) %></p>
  <% end %>
  <% t.column("File") do |asset| %>
    <% if asset.visible?(CurrentUser.user) && asset.md5.present? && asset.file_url(user: CurrentUser.user).present? %>
      <%= link_to_if(asset.file_visible?(CurrentUser.user), "show", asset.file_url(user: CurrentUser.user)) %>
      <% if asset.duplicate? && (url = asset.link_to_duplicate) %>
        <%= link_to("»", url) %>
      <% end %>
    <% end %>
  <% end %>
  <% t.column("Status") do |asset| %>
      <%= asset.format_status %>
  <% end %>
  <% t.column("Details") do |asset| %>
    <ul>
      <% if asset.checksum.present? %>
        <li>
          Checksum: <%= link_to(asset.checksum, post_replacement_media_assets_path(search: { checksum: asset.checksum })) %>
          <% if asset.md5.present? %>
            <% if asset.checksum == asset.md5 %>
              <i class="fa-solid fa-check text-green checksum-matches"></i>
            <% else %>
              <i class="fa-solid fa-xmark text-red checksum-matches"></i>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <% if asset.md5.present? %>
        <li>MD5: <%= link_to(asset.md5, post_replacement_media_assets_path(search: { md5: asset.md5 })) %></li>
      <% end %>
      <% if asset.pixel_hash.present? %>
        <li>Pixel Hash: <%= link_to(asset.pixel_hash, post_replacement_media_assets_path(search: { pixel_hash: asset.pixel_hash })) %></li>
      <% end %>
      <% if asset.storage_id.present? %>
        <li>Storage ID: <%= link_to(asset.storage_id, post_replacement_media_assets_path(search: { storage_id: asset.storage_id })) %></li>
      <% end %>
      <% if asset.file_ext.present? %>
        <li>Type: <%= link_to(asset.file_ext, post_replacement_media_assets_path(search: { file_ext: asset.file_ext })) %></li>
      <% end %>
      <% if asset.file_size.present? %>
        <li>Size: <%= number_to_human_size(asset.file_size) %></li>
      <% end %>
      <% if asset.variants_data.any? %>
        <li>
          Variants:
          <% total = asset.variants.without(asset.original).count %>
          <% names = asset.variants_data.uniq { |v| [v["type"], v["ext"]] }.pluck("type") %>
          <% asset.variants.without(asset.original).each_with_index do |variant, index| %>
            <%= link_to_if(asset.file_visible?(CurrentUser.user), names.count(variant.type.to_s) <= 1 ? variant.type : "#{variant.type} (#{variant.ext})", variant.file_url) %><% if index < total - 1 %>, <% end %>
          <% end %>
        </li>
        <li>Variants Size: <%= number_to_human_size(asset.variants_data.pluck("size").sum) %></li>
      <% end %>
      <% if asset.in_progress? %>
        <li>
          Last Chunk: <%= asset.last_chunk_id %>
          <% if asset.last_chunk_id == 0 %>
            (not started)
          <% end %>
        </li>
        <li>
          Current Size: <%= number_to_human_size(asset.tempfile_size) %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% t.column("Related") do |asset| %>
    <ul>
      <% if asset.post_replacement.present? %>
        <%= li_link_to("post replacement ##{asset.post_replacement.id}", post_replacement_path(asset.post_replacement)) %>
        <%= li_link_to("post ##{asset.post_replacement.post_id}", post_path(asset.post_replacement.post_id)) %>
      <% end %>
    </ul>
  <% end %>
  <% t.column("Actions") do |asset| %>
    <% if asset.in_progress? && policy(asset).cancel? %>
      <%= link_to("cancel", cancel_post_replacement_media_asset_path(asset), method: :put) %>
    <% end %>
  <% end %>
<% end %>

<%= numbered_paginator(@assets) %>

<%= render(partial: "media_assets/secondary_links") %>

<% content_for(:page_title) do %>
  Post Replacement Media Assets
<% end %>
