<% content_for(:secondary_links) do %>
  <%= subnav_link_to_if(policy(UploadMediaAsset).index?, "Upload Media Assets", upload_media_assets_path) %>
  <%= subnav_link_to_if(policy(Upload).index?, "Uploads", uploads_path) %>
  <%= subnav_link_to_if(policy(Post).index?, "Posts", posts_path) %>
  <li>|</li>
  <%= subnav_link_to_if(policy(PostReplacementMediaAsset).index?, "Post Replacement Media Assets", post_replacement_media_assets_path) %>
  <%= subnav_link_to_if(policy(PostReplacement).index?, "Post Replacements", post_replacements_path) %>
  <li>|</li>
  <%= subnav_link_to_if(policy(MascotMediaAsset).index?, "Mascot Media Assets", mascot_media_assets_path) %>
  <%= subnav_link_to_if(policy(Mascot).index?, "Mascots", mascots_path) %>
<% end %>
