<h1>Bulk Update Request Import</h1>

<%= form_tag(admin_bulk_update_request_import_path, class: "simple_form") do %>
  <pre>
Use the following format:

unalias aaa -> bbb
unimply aaa -> bbb
alias aaa -> bbb
imply aaa -> bbb
update aaa -> bbb
rename aaa -> bbb
category aaa -> general
deprecate aaa
undeprecate bbb
# comment
  </pre>

  <div class="input">
    <label for="batch_script">
      Script
    </label>
    <%= text_area("batch", "script", size: "60x20", value: @importer.try(:script)) %>
    <% if @error %>
      <span class="error"><%= @error.message %></span>
    <% end %>
  </div>

  <div class="input">
    <label for="batch_topic_id">
      Topic ID
    </label>
    <%= text_field("batch", "topic_id", value: @importer.try(:topic_id)) %>
  </div>

  <%= submit_tag("Import") %>
<% end %>

<%= render("secondary_links") %>

<% content_for(:page_title) do %>
  Bulk Update Request Import
<% end %>
