<h1>Password Reset Confirmation</h1>

<% if @user.display_name %>
  <p>The password for the user "<%= @user.display_name_safe %>" (<%= @user.name %>) for the website <%= Danbooru.config.app_name %> has been reset. It is now <code><%= @new_password %></code>.</p>
<% else %>
  <p>The password for the user "<%= @user.name %>" for the website <%= Danbooru.config.app_name %> has been reset. It is now <code><%= @new_password %></code>.</p>
<% end %>
