<h1>Password Reset Request</h1>

<% if @user.display_name %>
  <p>Someone has requested that the password for "<%= @user.display_name_safe %>" (<%= @user.name %>) for the website <%= Danbooru.config.app_name %> be reset. If you did not request this, then you can ignore this email.</p>
<% else %>
  <p>Someone has requested that the password for "<%= @user.name %>" for the website <%= Danbooru.config.app_name %> be reset. If you did not request this, then you can ignore this email.</p>
<% end %>
