<div class="replace-image-dialog-body">
  <div class="dtext-container">
    <%= format_text(WikiPage.titled(Config.instance.replacement_notice_wiki_page)&.body) %>
  </div>

  <div>
    <% if post.visible?(CurrentUser.user) %>
      <%= PostPresenter.preview(post, show_deleted: true, no_blacklist: true) %>
    <% end %>
    <div><%= "#{post.image_width}x#{post.image_height} (#{post.file_size.to_fs(:human_size, precision: 5)})" %></div>
  </div>
  <br>

  <%= render("posts/partials/show/avoid_posting", post: post) %>
  <br />
  <div id="replacement-uploader" class="simple_form"></div>
</div>

<%= javascript_tag(nonce: true) do -%>
  var uploaderSettings = {
    maxFileSize: <%= Config.instance.max_file_size * 1.megabyte %>,
    maxFileSizeMap: <%= sanitize(Config.instance.max_file_sizes.transform_values { |v| v * 1.megabyte }.to_json) %>,
    maxFileSizePerRequest: <%= Config.instance.max_upload_per_request * 1.megabyte %>,
  };
  Danbooru.Replacer.init();
<% end -%>
