<h1>Edit User: <%= @user.name %></h1>

<%= custom_form_for(@user, url: admin_user_path(@user), method: :patch, policy: policy([:admin, @user])) do |f| %>
  <%= f.input(:id, as: :hidden) %>
  <%= f.input(:name, input_html: { size: 50 }) %>
  <%= f.input(:force_name_change, collection: [%w[No false], %w[Yes true]], label: "Force Name Change") %>
  <%= f.input(:title, input_html: { size: 50 }) %>
  <%= f.input(:email, input_html: { size: 50 }) %>
  <%= f.input(:email_verified, as: :select, collection: [%w[No false], %w[Yes true]]) %>
  <%= f.input(:enable_privacy_mode, as: :select, collection: [%w[No false], %w[Yes true]]) %>
  <%= f.input(:profile_about, as: :dtext, label: "About", limit: Config.instance.user_about_max_size, allow_color: true) %>
  <%= f.input(:profile_artinfo, as: :dtext, label: "Commission Info", limit: Config.instance.user_about_max_size, allow_color: true) %>
  <%= f.input(:base_upload_limit) %>
  <%= f.input(:level, collection: user_levels_for_select(current: @user.level)) %>
  <%= f.input(:unrestricted_uploads, collection: [%w[Yes true], %w[No false]], label: "Unrestricted Uploads") %>
  <%= f.input(:can_approve_posts, collection: [%w[Yes true], %w[No false]], label: "Approve Posts") %>
  <%= f.input(:no_flagging, collection: [%w[Yes true], %w[No false]], label: "Banned From Flagging") %>
  <%= f.input(:no_replacements, collection: [%w[Yes true], %w[No false]], label: "Banned From Replacements") %>
  <%= f.input(:can_manage_aibur, collection: [%w[Yes true], %w[No false]], label: "Manage Tag Change Requests") %>
  <%= f.input(:no_aibur_voting, collection: [%w[Yes true], %w[No false]], label: "No AIBUR Voting") %>
  <%= f.input(:age_verified, collection: [%w[Yes true], %w[No false]], label: "Age Verified") %>

  <%= f.button(:submit, value: "Update") %>
<% end %>

<%= render("users/secondary_links") %>

<% content_for(:page_title) do %>
  Edit User - <%= @user.name %>
<% end %>
